<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(main)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cuối Môn</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{|/assets/css/shopping-cart-app.css|}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body class="container"
      ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
<header class="row">
    <!-- Header Content Here -->
</header>
<nav class="row">
    <div th:replace="layout/menu :: menu"></div>
</nav>
<div class="row">
    <article class="col-sm-9">
        <div th:replace="${main}"></div>
    </article>
    <aside class="col-sm-3">
        <div th:replace="layout/card-info :: cardinfo"></div>
        <div th:replace="layout/category :: category"></div>
    </aside>
</div>
<footer class="row">
    <!-- Footer Content Here -->
</footer>
<script th:src="@{|/assets/js/shopping-cart-app.js|}"></script>
</body>
</html>
